body { 
   
    background-color: #FAF9F6;
    margin: 0;

    

}
.father-son{
background-image: p;

}


.writeup{  
    background-color: #FAF9F6;
    padding-left: 100px;
    padding-right: 30px;
    margin-right: 100px;
    display: flex;
    align-items: center;

       
   }
   
   
   
      
       
       
   
   .button-1{
       background-color: #d14600;
       padding: 10px 20px;
       border: 0px;
       border-radius: 30px;
       color: #FFFFFF;
   }
   .button-2{
       background-color: #FFFF;
       padding: 8px 18px;
       border-color: #002677;
       border-radius: 30px;
       color: #002677;
   }
